/* add your CSS here */
.Quokka {
  width:300px;
  height:200px;
  display:block;
  margin:auto;
}

body {
  border-style: solid;
  border-color:tan;
  border-width: thin;
  font-family: Times;
  height:580px;
  width:320px;
  padding: 5px;
  margin: auto;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
h3 {
  text-align:center;
}
span {
  font-weight:bold;
}

.info {
  border-style:solid;
  border-color:tan;
  border-width:thin;
  padding: 5px;
  width: 300px;
  margin: 5px;
  text-align: justify;
}

ul {
  list-style: none;
}

.fact {
  font-style:italic;
}
